$colors: (
  main: #213670,
  word: #343434,
  hint: #ff6565,
  color1: rgba(8, 186, 206, 1),
  color2: rgba(114, 119, 172, 1),
  color3: rgba(109, 157, 197, 1),
  color4: rgba(128, 222, 217, 1),
  color5: rgba(174, 236, 239, 1), 
  color6: #ff6565
);

@function c($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors , $key);
  } 
}


@for $i from 1 through 6 {
  .color-#{$i} {
    fill: map-get($colors, color#{$i});
    background-color: map-get($colors, color#{$i});
  }
}