.owl-stage-outer {
  overflow: hidden;
  background-color: #fff;
  padding: 1em 3em;

  .owl-stage { 
    display: flex;
    padding-bottom: 10px;
  }
  .owl-item {
    // float: left;
    min-height: 1px;
    position: relative;
  }
}

.gallery-image {
  margin: 0 1em;
  background-position: center;
}