.taiwan-labor-info-chart { position: relative; }

.display-year {
  font-size: 2em;
}

#workerChart {
  .x.axis {
    g:nth-child(2n) {
      text { visibility: hidden; }
    }
  }
}


.legend {
  position: absolute;
  width: 35%;
  right: 10px;
  top: 10%;
  pointer-events: none;
  padding: 2em;

  border: 2px solid #999;

  border-radius: 4px;
}

.guide-line {
  stroke-width: 2;
}

.guide-points {
  stroke-width: 2px;
  stroke: #fff;
  &.salaryRate {
    fill: rgb(154, 206, 198);
  }

  &.priceRate {
    fill: #cfad9b;
  }

  &.jobless {
    fill: #e7420c;
  }

}

#relatedChart {
  position: relative;
  width: 80%;
  margin: 0 auto;

  @include for-mobile { width: 100%; }
}

.story-chart {
  position: absolute;
  padding: 20px;
  top: 0;
  width: 55%;
  
  &.unaffix {
    position: absolute;
    height: 100vh;
    top: calc(100% - 100vh);
    overflow-y: scroll;
  }

  @include for-mobile { 
    display: block;
    width: 100%;
    position: static;

    &.affix {
      position: inherit;
    }
  }
}

.elder-chart {
  width: 100%;
  margin: 0 auto;
  
  text { 
    fill: #333;
    font-size: 1rem!important;
  }

  .x.axis {
    @include for-mobile {
      g { 
        text { 
          visibility: hidden;
        }

        &:nth-child(5n) {
          text { 
            visibility: visible;
            font-size: .8rem!important;
          }
        }
      }
    }
  }
}

.tick text {
  font-size: 1.2rem;
  // font-weight: bold; 
  font-family: Oswald;
  fill: #333;

  @include for-large-desktop { font-size: 1.5rem; }
}

.tick line {
  stroke: #aaa;
  stroke-dasharray: 5,5;
}

.circle {
  stroke: #fff;

  &.toggle {
    fill: #fff;
    stroke: #ff6565;
  }
}

.line {
  stroke-linecap: round;
  stroke-linejoin: round;
}

#relatedChart {
  text { font-size: 10px; }
  .x.axis {
    g {
      text { visibility: hidden; }
    }
    g:nth-child(2n),
    g:first-child,
    g:last-child {
      visibility: visible;
      line {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        stroke: #000;
        stroke-width: 3;
      }

      text {
        visibility: visible;
        font-family: 'Hiragino Kaku Gothic W3 JIS2004', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
        font-size: 10px;
        color: #aaa;
      }
      
    }
  }
}