.taiwan-labor-info-chart { position: relative; }

.legend {
  position: absolute;
  width: 35%;
  right: 10px;
  top: 10%;
  pointer-events: none;
  padding: 2em;

  border: 2px solid #999;

  border-radius: 4px;
}

.guide-points {
  stroke-width: 2px;
  stroke: #fff;
  &.salaryRate {
    fill: rgb(154, 206, 198);
  }

  &.priceRate {
    fill: #cfad9b;
  }

  &.jobless {
    fill: #e7420c;
  }

}

#relatedChart {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

.story-chart {
  position: absolute;
  padding: 20px;
  top: 0;
  width: 55%;
  
  &.unaffix {
    position: absolute;
    height: 100vh;
    top: calc(100% - 100vh);
    overflow-y: scroll;
  }
}

.elder-chart {
  width: 55%;
}

.tick text {
  font-size: 1.2em;
  font-weight: bold; 
  font-family: Oswald;
}

.tick line {
  stroke: #aaa;
  stroke-dasharray: 5,5;
}

.circle {
  stroke: #fff;

  &.toggle {
    fill: #fff;
    stroke: #ff6565;
  }
}

.line {
  stroke-linecap: round;
  stroke-linejoin: round;
}

#relatedChart {
  text { font-size: 10px; }
  .x.axis {
    g {
      text { visibility: hidden; }
    }
    g:nth-child(2n),
    g:first-child,
    g:last-child {
      visibility: visible;
      line {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
        stroke: #000;
        stroke-width: 3;
      }

      text {
        visibility: visible;
        font-family: 'Hiragino Kaku Gothic W3 JIS2004', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
        font-size: 10px;
        color: #aaa;
      }
      
    }
  }
}