@import "variables";
@import "colors";
@import "mixins";
@import "normalize.scss";
@import "base.scss";
@import "hero-image";
@import "story";
@import "chart";
@import "labor-topic";
@import "author";
@import "tooltip";
@import "carousel";

a { color:inherit; }

body::-webkit-scrollbar {
  display: none;
}

.text-container {
  width: 65%;
  max-width: 960px;
  margin: 0 auto;
}

.hero-title {
  padding: 1em;
  text-align: center;
}

[class^="logo"] {
  width: 100px;
  height: 80px;
  fill: #fff;

  g {
      fill: #fff;
  }
}

.logo-1 {
  width: 80px;
}

.logo-3 {
  width: 80px;
  height: 130px;
}

.container {
  padding: 0 15px;
}

.clearfix {
  zoom: 1;
  &:before,
  &:after {
      content: "";
      display: table;
      clear: both;
  }
}

.line {
  height: 100%;
}

.detail {
  display: block;
  position: absolute;
  right: 5%;
  padding: 3px 8px;
  
  color: #fff;
  line-height: 1;
  font-family: Oswald;
  
  border-radius: 3px;
  background-color: rgba(125, 125, 125, .6);

  .detail-item {
      &.jobless:before {
          color: #27cc95;
      }
      &.salary:before {
          color: #39a5c8;
      }
      &.hours:before {
          color: darken(#39a5c8, 5%);
      }
      &:before {
          font-size: 1.2em;
          display: inline-block;
          margin-right: 4px;
          content: "●";
      }
  }
}

.top-summary-board {
  width: 80%;
  max-width: 700px;
  padding: 20px;
  margin: 0 auto;
  background-color: rgba(125, 125, 125, .6);
  color: #fff;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 3px;
}

.text-center {
  text-align: center;
}

.affix {
  position: fixed;
  height: 100%;
  top: 0;
}

.circle {
  fill: #ff6565;
}

.board-container {
  display: flex;
  justify-content: space-between;
}

.board {
  width: 31%;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 2px 1px rgba(100, 100, 100, 0.5);
  .board-title {
      padding-bottom: .3em;
      border-bottom: 1px solid #343434;
      text-align: center;
      font-size: 1.25em;
  }
  .number {
      display: block;
      color: #213670;
      font-family: Oswald;
      font-size: 3em;
      text-align: center;
      small {
          font-size: 15%;
      }
  }
}

.section-seperator {
  border: 1px solid #333;
  margin: 4em 25%;

}