.story {
  margin-left: 1.5em;
  margin-right: 5%;
  background-color: #fff;

  .story-title {
    font-size: 1.65em;
    letter-spacing: 1px;
    padding-left: .5em;
    border-left: 5px solid currentColor;
    line-height: 1;
  }

  .story-time {
    position: relative;
    font-family: Oswald;
    font-size: 3em;
    font-weight: medium;
    color: #213670;
    -webkit-text-stroke-color: #213670;
    -webkit-text-stroke-width: 1px;
    &:before {
      position: absolute;
      display: inline-block;
      top: 40%;
      left: -50px;
      z-index: 100;
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #213670;
      border: 3px solid #fff;
    }
  }

  .story-image {
    max-width: 100%;
  }
}

