.story-area {
  width: 45%;
  margin-left: 55%;
  padding: 5%;

  position: relative;
  .story-timeline {
    position: absolute;
    z-index: 55;
    right: 0;
    top: 0;
    width: 5vw;
    color: #fff;
    background-color: #27cc95;
    height: 100%;
    overflow-y: scroll;

    p {
      cursor: pointer;
      background-color: #27cc95;

      transition: transform .2s ease;

      &:hover {
        transform: translateX(-10%);
      }
    }
  }

  .story-timeline.affix {
    position: fixed;
    top: 0;
  }

  .story-timeline.unaffix {
    position: absolute;
    height: 100vh;
    top: calc(100% - 100vh);
    overflow-y: scroll;

  }
}

.story {
  position: relative;
  margin-left: 1.5em;
  margin-bottom: -1px;
  margin-right: 10%;

  background-color: #fff;
  
  border-top: 1px dashed #aaa;

  padding-top: 1em;

  line-height: 1.67;

  &:after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 4px;
    height: 100%;

    background-color: c(main);
    top: 0;
    right: calc(110% + 10px);
  }
  
  .story-title {
    font-size: 1.65em;
    letter-spacing: 1px;
    padding-left: .5em;
    border-left: 5px solid currentColor;
    line-height: 1;
  }

  .story-time {
    display: block;
    width: 100%;
    position: relative;
    font-family: Oswald;
    font-size: 3em;
    font-weight: medium;
    color: c(main);
    -webkit-text-stroke-color: c(main);
    -webkit-text-stroke-width: 1px;

    &:before {
      position: absolute;
      display: inline-block;
      top: calc(50% - 10px);
      right: 110%;
      z-index: 100;
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: c(main);
      border: 3px solid #fff;
    }
  }
  
  figure {
    margin: 1em 0;
    margin-bottom: 0;

    padding-bottom: 2em;
    figcaption {
      font-size: .65em;
      text-align: center;
      font-style: italic;
    }

    img { 

    }
  }
  .story-image {
    max-width: 100%;
  }
}


.labor-story {
  .chart {
    
    width: 100%;
    padding: 10px;
    background-color: #fff;
  }

  .story-area {
    float: right;
    height: 100vh;
    overflow-y: scroll;
    width: 45%;
    padding: 15px;
    background-color: #fff;
    border-left: 1px solid #aaa;
  }
}


.storys-timeline {
  position: relative;
  background-color: #fff;
}

