.story-area {
  padding: 5%;
  position: relative;
  .story-timeline {
    position: absolute;
    right: 0;
    top: 0;
    width: 8%;
    color: #fff;
    background-color: #27cc95;
    height: 100%;
    overflow-y: scroll;
  }

  .story-timeline.affix {
    position: fixed;
    top: 0;
  }

  .story-timeline.unaffix {
    position: absolute;
    height: 100vh;
    top: calc(100% - 100vh);
    overflow-y: scroll;

  }
}

.story {
  position: relative;
  margin-left: 1.5em;
  margin-bottom: 5em;
  margin-right: 10%;
  background-color: #fff;

  border-bottom: 1px dashed #aaa;
  
  .story-title {
    font-size: 1.65em;
    letter-spacing: 1px;
    padding-left: .5em;
    border-left: 5px solid currentColor;
    line-height: 1;
  }

  .story-time {
    position: relative;
    font-family: Oswald;
    font-size: 3em;
    font-weight: medium;
    color: c(main);
    -webkit-text-stroke-color: c(main);
    -webkit-text-stroke-width: 1px;

    &:after {
      position: absolute;
      display: inline-block;
      content: "";
      width: 15px;
      height: 4px;

      background-color: c(main);
      top: 53%;
      left: -40px;
    }
    &:before {
      position: absolute;
      display: inline-block;
      top: 40%;
      left: -25px;
      z-index: 100;
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: c(main);
      border: 3px solid #fff;
    }
  }
  
  figure {
    figcaption {
      font-size: .65em;
      text-align: center;
      font-style: italic;
    }  
  }
  .story-image {
    max-width: 100%;
  }
}


.labor-story {
  .chart {
    
    width: 100%;
    padding: 10px;
    background-color: #fff;
  }

  .story-area {
    float: right;
    height: 100vh;
    overflow-y: scroll;
    width: 45%;
    padding: 15px;
    background-color: #fff;
    border-left: 1px solid #aaa;
  }
}


.storys-timeline {
  background-color: #fff;
}

